#slideOut {
    padding: 0;
    position: fixed;
    width: 800px;
    height: calc(100vh - 166px);
    top: 116px;
    right: -800px;
    z-index: 10;
    /* Animation  */
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    max-width: unset;
}


/* Display slideOut */

.showSlideOut {
    right: 0px !important;
}

.slideMap {
    width: calc(100% - 40rem);
}


/* Tab */

.slideOutTab {
    margin-top: 50px;
    position: absolute;
    /*left: -40px;*/
    right: 800px;
    height: 200px;
    width: 40px;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    background: white;
    border-radius: 15px 0px 0px 15px;
    cursor: pointer;
}

.slideOutTab div {
    text-align: center;
    position: relative;
    right: 70px;
    top: 90px;
    background: white;
    width: 180px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    writing-mode: lr-tb;
}

#mc_tab_container {
    bottom: 60px;
    left: 10px;
    position: absolute;
    z-index: 9;
    max-width: 75%;
}

#fixed_tab_list {
    font-size: smaller;
}

.tab-content {
    overflow: auto;
    height: 100%;
}

.map-tab {
    height: 38vh !important;
}

#opacity_chirps, #opacity_esi, #opacity_fire {
    accent-color: #0c1a4e;
    background: #e3e6f0;
    width: 12vw;
    margin-bottom: 20px;
}

#basemaps, #layers {
    overflow-y: auto;
}

#chirps_opacity, #esi_opacity, #opacity_fire {
    display: contents;
}

#legend_chirps img {
    background: black;
    width: fit-content;
    left: 10px;
}

#legend_esi img {
    background: white;
    width: fit-content;
    left: 10px;

}

#loading_mc {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.7;
    background-color: #fff;
    z-index: 500;
}

#loading-image-mc {
    z-index: 500;
}

.img-thumbnail {
    /*height: 100px;*/
    border: none;
}

a:hover {
    text-decoration: none;
}

#datepicker {
    width: 180px;
    margin: 0 20px 20px 20px;
}

#datepicker > span:hover {
    cursor: pointer;
}

@media only screen and (max-width: 840px) {
    #slideOut {
        width: calc(100% - 40px);
    }

    .showSlideOut .slideOutTab {
        right: calc(100vw - 40px);
    }

    #map_chart {
        width: 100vw;
    }
}

.map-thumb {
    float: left;
    position: relative;
    overflow: hidden;
    max-height: 300px;
    cursor: pointer;
    margin: 5px;
    max-width: calc(25% - 12px);
}

.highcharts-contextmenu {
    top: -100px !important;
    right: 7px !important;
}

.run-date-label {
    width: 20%;
    text-align: center;
}

#active-fires {
    width: 100%;
    height: 50px;
    border: 1px solid #e3e6f0;
    border-radius: 0.35rem;
}

#new-fires {
    width: 100%;
    height: 50px;
    border: 1px solid #e3e6f0;
    border-radius: 0.35rem;
}

#protected-area-alert {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #e3e6f0;
    border-radius: 0.35rem;
    overflow: hidden;
}

button[disabled] {
    pointer-events: none;
}

#largest-fires {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #e3e6f0;
    border-radius: 0.35rem;
    overflow: hidden;
}

#largest-fires-div, #protected-fires-div {
    flex-grow: 1;
}

#largest-fires-table-header, #protected-fires-table-header {
    position: sticky;
    top: 0px;
    background: white;
    z-index: 1;
}

#fires-table {
    top: 100px;
}

#largest-fires > label {
    width: 100%;
    text-align: center;
    margin-left: auto;
}

#protected-area-alert > label {
    width: 100%;
    text-align: center;
    margin-left: auto;
}

.savannah_label {
    height: 15px;
    width: 15px;
    background: #00c5ff;
    margin: auto;
}

.agri_label {
    height: 15px;
    width: 15px;
    background: #ffaa00;
    margin: auto;
}

.understory_label {
    height: 15px;
    width: 15px;
    background: #38a800;
    margin: auto;
}

.deforest_label {
    height: 15px;
    width: 15px;
    background: #a80000;
    margin: auto;
}

#analysis_year {
    width: 50%;
}

.no-wrap {
    white-space: nowrap;
    padding-right: 5px;
}

#dates-selector, #aoi-selector {
    justify-content: space-around;
}

#dates-selector-labels, #aoi-selector-labels {
    justify-content: space-around;
}

#run-date {
    width: 50%;
}

#loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    right: 0;
    top: 116px;
    bottom: 50px;
    opacity: 50%;
    background: black;
    z-index: 999;
    overflow: hidden;
}

.zTop {
    z-index: 1000;
}

#download_container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

#data-explorer-tabs {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.short-table {
    flex-grow: 1;
    max-height: 60%;
}

.short-chart {
    bottom: 0px;
    height: 25vh;
}

#explorer-content {
    height: calc(100% - 58px);
}

#fire-database, #individual-fires {
    padding: 25px;
}

tr {
    cursor: pointer;
}

#selected-columns {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

#fire-summary-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#selected-fire-status {
    text-align: left;
}

#selected-fire-statistics {
    text-align: center;
}

#selected-fire-perimeter {
    text-align: right;
}

.dataTables_scrollBody, .dataTables_scrollHead {
    width: auto;
}

.layer-container, #compare-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
}

.labeled-button {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.layer-selections {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px 10px;
}

h6 {
    color: gray;
}

.year-selector, .region-selector, .change-selector {
    width: 110px;
}

.location-selector {
    width: 300px;
}

label {
    margin-right: 5px;
}

#current-layers-list, #available-layers-list, #current-layers-list_wrapper, #available-layers-list_wrapper {
    width: 100%;
}

.remove-indicator, .add-indicator {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.remove-indicator {
    background-color: red;
}

.add-indicator {
    background-color: green;
}

.dataTables_scrollBody, .dataTables_scrollHead {
    width: auto;
}

.form-group {
    position: relative;
}

.form-group > label {
    position: absolute;
    top: 0.2ex;
    z-index: 1;
    left: 2em;
    background-color: white;
    padding: 0 5px;
    font-size: 0.75rem;
    border-radius: 5px;
}

.form-group > input, .form-group > select {
    border: 1px solid rgb(209, 211, 226);;
    border-radius: 6px;
    position: relative;
    width: 200px;
    margin: 10px;
}

.toggle.btn {
    border: 1px solid rgb(209, 211, 226);
}

.toggle-row {
    width: 70%;
    align-items: center;
}

.toggle-row > label, .layer-container > label {
    margin-right: unset;
    margin: unset;
}

.mb-spaced {
    margin-bottom: 1rem !important;
}

.leaflet-sbs-range {
    background: none !important;
    width: 60% !important;
    margin-left: 20% !important;
}

.vertmenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.extent_label {
    height: 15px;
    width: 15px;
    background: green;
    margin: auto;
}

.gain_label {
    height: 15px;
    width: 15px;
    background: lime;
    margin: auto;
}

.loss_label {
    height: 15px;
    width: 15px;
    background: red;
    margin: auto;
}

.restoration_label {
    height: 15px;
    width: 15px;
    background: aqua;
    margin: auto;
}

.selected_label {
    height: 15px;
    width: 15px;
    border: 2px solid yellow;
    margin: auto;
}

#primary_year_indicator, #comparison_year_indicator {
    width: 100px;
    background: white;
    height: 50px;
    position: absolute;
    z-index: 20;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#primary_year_indicator {
    top: 130px;
    left: 60px;
}

#comparison_year_indicator {
    top: 130px;
    right: 10px;
}

#primary_year_indicator > h4, #comparison_year_indicator > h4 {
    margin: unset;
}

#selected_year, #comparison_year {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    font-weight: 700;
    line-height: 1.2;
    font-size: 1.5rem;
}

path.leaflet-interactive:focus {
    outline: none;
}