<!DOCTYPE html>
<html>
{% load static %}
{% load socialaccount %}
<head>
    <title>SCAP</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body style="font-size: large">

<link rel="stylesheet" href="{% static "css/main.css" %}"/>
<link rel="stylesheet" href="{% static "css/modal.css" %}"/>
<!-- Optional JavaScript; choose one of the two! -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<!-- Option 1: Bootstrap Bundle with Popper-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


<h1 style="text-align: center;"><a style="color:gray;text-decoration: none" href="{% url "home" %}">SCAP - Testing</a>

</h1>
<div class="text-center" style="background: peachpuff;width:40%;margin:auto;>

<div id="login_logout" class="text-center">
{% if user.is_authenticated %}
  <p style="font-weight: bolder">You are logged in as {{ user.username }}</p>
      <p><a href="{% url 'logout' %}">Log Out</a></p>

      <a href="{% url 'home' %}">Add/Update Collection
    </a>&nbsp;
    <a href="{% url 'aoi' %}">
    Add AOI(s)
    </a>
{#    <p><a href="{% url 'logout' %}">Log Out</a></p>#}

{#<h5 class="login"><a href="#">Login</a>|<a href="#">Register</a></h5>#}


{#  <p class="common">Please visit <a href="http://127.0.0.1:8000/admin/">http://127.0.0.1:8000/admin/</a> to access objects</p>#}
<div  class="mb-3 common" style="">
{#<h3 class="common">User Data Submission Form</h3>#}
<p>Are you uploading data for a new collection?
    <input type="radio" id="new_c" checked name="newcoll" onchange="checkboxSelected(this)"/>Yes
    <input type="radio" id="existing_c" name="newcoll" onchange="checkboxSelected(this)"/>No
</p>
    </div>

{#Yes#}

            <form id="upload-file" enctype = "multipart/form-data"  method = "post">

<div id="new_collection_info">
    <div class="mb-3 common"><label >Collection Identification Name </label><p><input id="coll_name" type="text"/></p>
    <p style="color: darkred" id="col_exists"></p></div>
    <div class="mb-3 common"><label style="display: block">Source and Supplemental information</label>
    <textarea id="coll_desc" cols="60" rows="6"></textarea></div>
    <div class="mb-3 common">
        <label for="formFile" class="form-label">Upload your Boundary shape file(applies to all files in the
            collection) </label>

        <input class="form-control fileupload" type="file" name="filename" id="boundaryFile" accept="application/zip">
    </div>
    <div class="mb-3 common">
        <label for="formFileMultiple" class="form-label">Upload Yearly Land Cover Tiff files </label>
        <input class="form-control fileupload" type="file" id="tifffiles" multiple accept="image/tiff">
    </div>
    <ul id="list">
    </ul>

    <div class="mb-3 common">


        <label class="form-check-label" for="flexCheckDefault">
            Access Level
        </label>
        <select id="access">
            <option>Public</option>
            <option>Private</option>
        </select>
    </div>
    <button type="button" class="btn btn-primary common mb-3" id="review_new">Review Summary</button> <button type="button" class="mb-3 btn btn-primary common" onclick="clearForm()" id="clear_new">Clear Form</button>



<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <label>Collection Identification Name: </label>
        <p id="c_name">Some text in the Modal..</p>
        <label>Source and Supplemental information: </label>
        <p id="c_desc">Some text in the Modal..</p>
        <label>Boundary Shape File: </label>
        <p id="c_boundary_path">Some text in the Modal..</p>
        <label>TIFF files: </label>
        <p id="c_tiffs"></p>


        <label>Access level: </label>
        <p id="c_access"></p>

        <button type="button" class="btn btn-primary common" id="savetoDB">Submit</button>

    </div>

</div>
</div>

{#  No#}
<div id="existing_coll"  style="display: none" >
<div class="mb-3 common"><label id="coll">Select the existing collection</label>
    <select aria-label="coll" id="existing_list">
        <option>--Select--</option>

    </select>
</div>

<div class="mb-3 common">
        <div id="lists">
            <p>Existing TIFFS in this collection:</p>

    </div>
        <label for="formFileMultiple" class="form-label">Upload more files to this collection </label>
        <input class="form-control fileupload" type="file" id="new_tifffiles" multiple accept="image/tiff"/>
    </div>

{#    <ul id="list_existing">#}
{#    </ul>#}
      <ul id="list_new_added">
    </ul>
        <button type="button" class="btn btn-primary common mb-3" id="review_existing">Review Summary</button><button type="button" class="mb-3 btn btn-primary common" id="clear_existing" onclick="clearForm()">Clear Form</button>

    </div>

<div id="mynewModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <label>Collection Identification Name: </label>
        <p id="c_update_name">Some text in the Modal</p>

        <label>Existing TIFF files: </label>
        <p id="c_existing_tiffs"></p>
          <label>Newly Added TIFF files: </label>
        <p id="c_new_tiffs"></p>


        <button type="button" class="btn btn-primary common" id="updatetoDB" onclick="savetoLocalPath(this)">Submit</button>

    </div>

</div>
    {% else %}
 <button class="btn btn-outline-info">
        <a href="{% provider_login_url 'google'%}?next=/">
            <i class="fab fa-google"></i>
            Login with Google
        </a>
    </button>
{% endif %}


            </form>


</div>
</div>
<script src="{% static "js/main.js" %}"></script>

</body>
</html>