<!DOCTYPE html>
<html lang="en">

{% load socialaccount %}
{% load auth_extras %}
{% load static %}

<head>
    <!-- Google Tag Manager -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XB4PH586BT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XB4PH586BT');
</script>
       <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
     <script src="{% static 'js/utils.js' %}" rel="stylesheet"></script>
    <script>
        function sendMessageToScap(obj) {
            var email=obj.elements['email'].value;
            var name=obj.elements['name'].value;
            var organization=obj.elements['organization'].value;
            var role=obj.elements['role'].value;
            var message=obj.elements['message'].value;
            $.ajax({
                type: 'POST',
                url: 'send-message-scap/',
                data: {
                    'name': name,
                    'email': email,
                    'organization':organization,
                    'role':role,
                    'message':message
                },
                success: function (res) {
                    console.log(res.result === 'error')
                    if (res.result === 'success'){
                        document.getElementById('submitSuccessMessage').classList.remove('d-none');
                    $('form').get(0).reset()
                }
                    else if(res.result==='error')
                        document.getElementById('submitErrorMessage').classList.remove('d-none');


                }

            });
        }
    </script>
<!-- End Google Tag Manager -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>SERVIR S-CAP</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static "assets/favicon.ico" %}"/>

    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static "css/styles.css" %}" rel="stylesheet"/>
     <link href="{% static "css/carousel.css" %}" rel="stylesheet"/>
</head>

<body id="page-top">

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      {% if request.user.is_authenticated and is_approver and request.extras %}
    <div style="position: fixed;top:0;width:100%;z-index:1000">

        {% if request.extras.new_users %}
         <div class="alert alert-warning alert-dismissible fade show" role="alert">
             {% if new_user_list %}
             <p>
                <strong> The following users have registered in the last 7 days</strong>
             </p>
  <p id="user_list">
     {% for user in request.extras.new_users.all %}
      <a href="{% url 'admin:auth_user_change' user.id %}"><i class="fas fa-pencil fa-fw fa-1x"></i></a>&nbsp;<span>{{ user.get_full_name }} ({{user.username}})</span><br>
{% endfor %}
  </p>

  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
        {% endif %}
    </div>
    {% endif %}
    {% endif %}

    <div class="container-fluid">
        <a class="navbar-brand" style="padding-left: 20px" href="#page-top"><img
                src="{% static "assets/img/SERVIR_flat_white2.png" %}" alt="..."/></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ms-1"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link" href="#callstoaction">About</a></li>
                <li class="nav-item"><a class="nav-link" href="#pilotcountry">Pilot Countries</a></li>
                <li class="nav-item"><a class="nav-link" href="#services">Datasets</a></li>
                <li class="nav-item"><a class="nav-link" href="#about">History</a></li>
                <li class="nav-item"><a class="nav-link" href="#team">Team</a></li>
                <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                {% if user.is_authenticated %}

                    <li class="nav-item dropdown" style="z-index:900">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">{{ user.username }} <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu bg-dark">
                            <li><a class="nav-link" href="/logout/">Logout</a>
                            </li>

                        </ul>

                    </li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% provider_login_url 'google' %}?next=/">

                        Login
                    </a></li>

                {% endif %}


            </ul>
        </div>
    </div>
</nav>
<!-- {% if request.user.is_authenticated and is_approver and request.extras %}-->
<!--        {% if request.extras.new_users %}-->
<!--            <div class="alert alert-info accordion" role="alert" id="new_user_alert" style="top:90px">-->
<!--        {% endif %}-->
<!--    {% if request.extras.new_users %}-->
<!--        <div class="accordion-item">-->
<!--            <h2 class="accordion-header">-->
<!--                <button class="accordion-button" type="button" data-bs-toggle="collapse"-->
<!--                        data-bs-target="#newUsersCollapse" aria-expanded="true" aria-controls="newUsersCollapse">-->
<!--                    New Users in the Last 7 Days-->
<!--                </button>-->
<!--            </h2>-->
<!--            <div id="newUsersCollapse" class="accordion-collapse collapse show" data-bs-parent="#new_user_alert">-->
<!--                <ul>-->
<!--                    {% for user in request.extras.new_users.all %}-->
<!--                        <li>-->
<!--                            {{ user.first_name }} {{user.last_name}} ({{user.username}}) - <a href="{% url 'admin:auth_user_change' user.id %}">Edit</a>-->
<!--                        </li>-->
<!--                    {% endfor %}-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--            </div>-->
<!--    {% endif %}-->
<!--                    {% endif %}-->
<!--&lt;!&ndash; Masthead&ndash;&gt;-->
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Quickly and easily estimate carbon emissions</div>
        <div class="masthead-heading text-uppercase">SERVIR Carbon Pilot</div>
        <a class="btn btn-primary btn-xl text-uppercase m-3" href="#services">Show me the data</a>
        <a class="btn btn-primary btn-xl text-uppercase m-3" href="/map/0/">Explore the map</a>
    </div>
</header>

<!-- Calls to Action -->
<section class="page-section" id="callstoaction">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">With S-CAP you can:</h2>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <a class="pilotcountry-link" data-bs-toggle="modal">
                    <div class="pilotcountry-hover">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-images fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                </a>
                <h4 class="my-3">Monitor deforestation</h4>
                <p class="text-muted">
                REDD+ implementers have set deforestation reduction targets through their region’s Forest Reference Emission Level Submissions. With S-CAP, users can monitor progress towards deforestation reduction targets to determine the impact of local decision-making on deforestation trends.
                </p>
            </div>
            <div class="col-md-4">
                <a class="pilotcountry-link" data-bs-toggle="modal">
                    <div class="pilotcountry-hover">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-chart-line fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                </a>
                <h4 class="my-3">Monitor progress towards net-zero deforestation</h4>
                <p class="text-muted">
As part of the United Nations Framework Convention on Climate Change (UNFCCC), countries pledged to contribute to global net zero deforestation by 2050. Users can track their region’s progress towards this goal using various land cover change datasets.
                </p>
            </div>
            <div class="col-md-4">
                <a class="pilotcountry-link" data-bs-toggle="modal">
                    <div class="pilotcountry-hover">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-fire-flame-curved fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                </a>
                <h4 class="my-3">Estimate emissions</h4>
                <p class="text-muted">
USAID missions have a responsibility to track greenhouse gas (GHG) emissions in their respective regions. Users can combine datasets to estimate GHG emissions on local or regional scales.
                </p></div>
        </div>
    </div>
</section>


<!-- pilotcountry Grid-->
<section class="page-section bg-light" id="pilotcountry">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Pilot Countries</h2>
            <h3 class="section-subheading text-muted">S-CAP is piloting its work in the following countries</h3>
        </div>
        <div class="row">
            {% for pilot in pilot_countries %}
                <div class="col-lg-4 col-sm-6 mb-4">
                    <!-- pilotcountry item 1-->
                    <div class="pilotcountry-item">
                        <a class="pilotcountry-link" href="{% url 'pilot_country' country=pilot.id %}">
                            <div class="pilotcountry-hover">
                                <div class="pilotcountry-hover-content"><i class="fas fa-tree fa-3x"></i></div>
                            </div>
                            <img class="img-fluid"
                                 src="{{pilot.hero_image.url}}"
                                 alt="{{pilot.country_name}}"/>
                        </a>
                        <div class="pilotcountry-caption">
                            <div class="pilotcountry-caption-heading">{{pilot.country_name}}</div>
                            <div class="pilotcountry-caption-subheading text-muted">{{pilot.region}}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Services-->
<section class="page-section bg-light" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Primary Data</h2>
            <h3 class="section-subheading text-muted">The S-CAP methodology is based on those established by the Intergovernmental Panel on Climate Change (IPCC) and includes data layers describing the following:</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <a class="pilotcountry-link" data-bs-toggle="modal" href="#LandCoverModal">
                    <div class="pilotcountry-hover">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-layer-group fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                </a>
                <h4 class="my-3">Forest Cover & Forest Cover Loss</h4>
                <p class="text-muted">
Historic and current forest cover data are used to measure a region’s forest carbon stocks. Changes in forest cover over time help to determine areas of deforestation, a key variable in estimating carbon emissions.
                    </p>
                {#                {% if user.is_authenticated %}#}
{#                    <div class="text-center">#}
{#                        <a href="{% url 'userData' %}">#}
{#                            <button type="button" class="btn btn-lg btn-warning">+ Add Your Own Data</button>#}
{#                        </a>#}
{#                    </div>#}
{#                {% endif %}#}

            </div>
            <div class="col-md-4">
                <a class="pilotcountry-link" data-bs-toggle="modal" href="#AGBModal">
                    <div class="pilotcountry-hover">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-tree fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                </a>
                <h4 class="my-3">Forest Above Ground Biomass</h4>
                <p class="text-muted">
Different carbon pools (living biomass, litter and debris, and soil) serve various purposes in terms of measuring and monitoring an area’s carbon stock. For example, S-CAP can estimate carbon emissions from deforestation based on the change in aboveground biomass (AGB), which stores the majority of the carbon found within a tropical forest.            </div>
            <div class="col-md-4">
                <a class="pilotcountry-link" data-bs-toggle="modal" href="#AOIModal">
                    <div class="pilotcountry-hover">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-map fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                </a>
                <h4 class="my-3">Area of Interest</h4>
                <p class="text-muted">
                    The area of analysis for determining forest cover loss and biomass. This platform allows users to analyze data within a country, a protected area, or a user-defined region.</p>
            </div>
        </div>
    </div>
{% if user.is_authenticated and user|has_group:"scap_contributors" %}

                    <div class="text-center m-4 p-3">
                        <a href="{% url 'contribute-data' %}">
                            <button type="button" class="btn btn-lg btn-warning">+ Add Your Own Data</button>
                        </a>
                    </div>

                {% endif %}
</section>
<!-- About-->
<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase pt-4">The History of S-CAP</h2>
            <h3 class="section-subheading text-muted mb-2">Service Development Timeline</h3>
        </div>
          <div class="carousel" id="myCarousel">
            <input type="radio" name="slides" checked="checked" id="slide-1">
            <input type="radio" name="slides" id="slide-2">
            <input type="radio" name="slides" id="slide-3">
            <input type="radio" name="slides" id="slide-4">
            <input type="radio" name="slides" id="slide-5">
            <input type="radio" name="slides" id="slide-6">
			<input type="radio" name="slides" id="slide-7">
             <!-- Controls -->

        <ul class="carousel__slides">

                <li class="carousel__slide" style="display:table;">

                    <figure>
                        <div>
                            <img src="{% static "assets/img/carousel_images/forest.jpg" %}" alt="">
                        </div>
                        <figcaption>
                            <h3>2021</h3>
                            <label><strong>Conceptual Framework and Theory of Change</strong></label>
                            <p class="scroll-container">
                                While the SERVIR network has a number of services focused on land cover monitoring, and tracking tropical deforestation in particular, one element that has been missing is translating such changes into estimates of changes in carbon stock or even emissions of greenhouse gases like carbon dioxide. With USAID regional and bilateral missions contributing Sustainable Landscapes (SL) funding to SERVIR hubs, those USAID missions have a responsibility to track greenhouse gas (GHG) emissions as part of monitoring environmental dynamics in their respective regions. In addition to developing a scientific framework and accompanying ~global / pan-tropical service for monitoring carbon emissions, S-CAP has a significant capacity development component.
                            </p>
                        </figcaption>
                    </figure>
                                </li>
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img src="{% static "assets/img/carousel_images/writing.jpg" %}" alt="">
                        </div>
                        <figcaption>
                            <h3>2021-2022</h3>
                            <label><strong>Initial Analysis</strong></label>
                            <p class="scroll-container">
                                <b>E. Cherrington et al.</b>
                                “One forest carbon model to rule them all? Utilizing ensembles of forest cover and biomass datasets to determine carbon budgets of the world’s forest ecosystems”. In BioGeosciences: (Submitted April 2024) (- A global analysis that demonstrates convergence and divergence in coverage and estimates related to forest cover, forest cover change, and above ground biomass stocks, which are the main inputs for estimating forest carbon stocks and greenhouse gas emissions from land cover change.  &
                                <b>C. Evans et al. 2024 </b>
                                “Evaluating Global and National datasets in an Ensemble Approach to Estimating Carbon Emissions as part of SERVIR’s Carbon Pilot.” (In progress) This more nationally scaled focus on greenhouse gas emission estimation focuses on the added detail when including more locally tuned datasets when monitoring forest coverage change and biomass measurements.
                            </p>
                        </figcaption>
                    </figure>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img src="{% static "assets/img/carousel_images/comparison2.jpg" %}" alt="">
                        </div>
                        <figcaption>
                            <h3>2022</h3>
                            <label><strong>National Forest Reference Level Comparisons</strong></label>
                            <p class="scroll-container">
Initial results from S-CAP were compared against each pilot country’s most recent submission to the UNFCCC effort to reduce emissions from deforestation and forest degradation in developing countries (REDD+) platform. This provided better understanding and alignment with country specific definitions of forest cover and deforestation. Values of biomass, activity data, and emission estimates were included in S-CAP reporting.                            </p>
                        </figcaption>
                    </figure>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img src="{% static "assets/img/carousel_images/fieldwork.jpg" %}" alt="">
                        </div>
                        <figcaption>
                            <h3>2023-2024</h3>
                            <label><strong>Partner Consultation | Capacity Building</strong></label>
                            <p class="scroll-container">
                                <b>SERVIR CA (Guatemala City, Guatemala) - Feb. 2023:</b> Technical professionals from government, education and private institutions responsible for forest carbon accounting and deforestation monitoring.  Focused on fundamental theory, applications, and code for forest change detection methods and carbon emission estimation with practical exercises applied in participants’ areas of interest.
                                <br>
                                <b>SERVIR AMZ (Cali, Colombia) - March 2023:</b> Brought GIS and technical specialists from Brazil, Colombia, Ecuador and Peru together to share the scientific and implementation progress of several ongoing services.
                                <br>
                                <b>AmeriGEO (San José, Costa Rica) - Aug 2023:</b> Professionals and students from the Group on Earth Observations (GEO) community in the Americas who apply geospatial information the address issues of food security and sustainable agriculture, biodiversity and ecosystems, disaster resilience, public health surveillance and water resource management.
                                <br>
                                <b>SERVIR CA (Belmopan, Belize) - Oct 2023:</b> Brought GIS and technical specialists from Belize, Guatemala, and El Salvador together to focus on fundamental theory, applications, and code for LandTrendr, CCDC-SMA, BULC-D, S-CAP with practical exercises applied in participants’ areas of interest
                                <br>
                                <b>SERVIR CA (Belmopan, Belize) - March 2024:</b> Follow-up training focused around mangrove mapping and restoration with the Belize Forest Department
                                <br>
                                <b>SERVIR WA (Accra, Ghana) Nov. 2023:</b> Worked with CERSGIS technical team to understand/gain proficiency in time series analysis methods for remotely sensed data, generate land cover/land-use change maps using CCDC, visualize land change and explore time-series information and understand Ghana-specific outputs from the SERVIR-CArbon Pilot (S-CAP) activity and how to use generate carbon estimates
	                            <br>
                                <b>SERVIR HKH (Kathmandu, Nepal) May 2024:</b> Worked with The International Centre for Integrated Mountain Development in Nepal on the theoretical basis of S-CAP while exchanging ideas on how to collaborate on land use land cover change techniques and integration of S-CAP framework in to the Regional Land Cover Monitoring System and Nepal’s National Land Cover Monitoring System efforts

                            </p>
                        </figcaption>
                    </figure>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img src="{% static "assets/img/carousel_images/webdesign.jpg" %}" alt="">
                        </div>
                        <figcaption>
                            <h3>2023-2024</h3>
                            <label><strong>Website Application Development</strong></label>
                                <p>
                            A joint effort between the science team and GIT team at the SERVIR Science Coordination Office, the web app reflects priorities expressed by SERVIR hubs and their stakeholders to best suit the needs of the hubs and USAID missions. S-CAP is also poised to contribute to broader GHG monitoring initiatives, namely through its coordination with the U.S. Greenhouse Gas (GHG) Monitoring Center, which leverages IMPACT’s <a href="https://www.earthdata.nasa.gov/learn/blog/veda-open-science-platform">VEDA</a> platform for its data and information system.
                        </p>
                        </figcaption>

                    </figure>

                </li>
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img src="{% static "assets/img/carousel_images/website.jpg" %}" alt="">
                        </div>
                        <figcaption>
                            <h3>June 2024</h3>
                            <strong>Website Launch</strong>
                            <p>
                                Beta launch of S-CAP website. Data sets pre-loaded and immediately available for use consists of five global and seven regional/national land cover datasets along with twenty-two biomass datasets
                            </p>
                        </figcaption>
                    </figure>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img src="{% static "assets/img/carousel_images/planning.jpg"  %}" alt="">
                        </div>
                        <figcaption>
                            <h3>Moving Forward</h3>
							<strong>Annual Updates & Connection with existing SERVIR Global services</strong>
                            <p>
                                Updates to the datasets and coverage will be updated annually to ensure availability of the most up to date information in regards to land cover, land cover change, and aboveground biomass.
                            </p>
                        </figcaption>
                    </figure>
                </li>
            </ul>
    <ul class="carousel__thumbnails">
                <li>
                    <label for="slide-1"><img src="{% static "assets/img/carousel_images/forest_thumb.jpg" %}" alt=""></label>
                </li>
                <li>
                    <label for="slide-2"><img src="{% static "assets/img/carousel_images/writing_thumb.jpg" %}" alt=""></label>
                </li>
                <li>
                    <label for="slide-3"><img src="{% static "assets/img/carousel_images/comparison2_thumb.jpg" %}" alt=""></label>
                </li>
                <li>
                    <label for="slide-4"><img src="{% static "assets/img/carousel_images/fieldwork_thumb.jpg" %}" alt=""></label>
                </li>
                <li>
                    <label for="slide-5"><img src="{% static "assets/img/carousel_images/webdesign_thumb.jpg" %}" alt=""></label>
                </li>
                <li>
                    <label for="slide-6"><img src="{% static "assets/img/carousel_images/website_thumb.jpg" %}" alt=""></label>
                </li>
                <li>
                    <label for="slide-7"><img src="{% static "assets/img/carousel_images/planning_thumb.jpg" %}" alt=""></label>
                </li>
            </ul>


<!--        <ul class="timeline">-->
<!--            <li>-->
<!--                <div class="timeline-image"><img class="rounded-circle img-fluid"-->
<!--                                                 src="{% static "assets/img/about/1.jpg" %}" alt="..."/></div>-->
<!--                <div class="timeline-panel">-->
<!--                    <div class="timeline-heading">-->
<!--                        <h4>2022-2023</h4>-->
<!--                        <h4 class="subheading">Service Design</h4>-->
<!--                    </div>-->
<!--                    <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing-->
<!--                        elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae-->
<!--                        sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>-->
<!--                </div>-->
<!--            </li>-->
<!--            <li class="timeline-inverted">-->
<!--                <div class="timeline-image"><img class="rounded-circle img-fluid"-->
<!--                                                 src="{% static "assets/img/about/2.jpg" %}" alt="..."/></div>-->
<!--                <div class="timeline-panel">-->
<!--                    <div class="timeline-heading">-->
<!--                        <h4>June 2024</h4>-->
<!--                        <h4 class="subheading">S-CAP available to users</h4>-->
<!--                    </div>-->
<!--                    <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing-->
<!--                        elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae-->
<!--                        sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>-->
<!--                </div>-->
<!--            </li>-->
<!--            <li>-->
<!--                <div class="timeline-image"><img class="rounded-circle img-fluid"-->
<!--                                                 src="{% static "assets/img/about/3.jpg" %}" alt="..."/></div>-->
<!--                <div class="timeline-panel">-->
<!--                    <div class="timeline-heading">-->
<!--                        <h4>September 2024</h4>-->
<!--                        <h4 class="subheading">Enabling user uploads</h4>-->
<!--                    </div>-->
<!--                    <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing-->
<!--                        elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae-->
<!--                        sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>-->
<!--                </div>-->
<!--            </li>-->
<!--            <li class="timeline-inverted">-->
<!--                <div class="timeline-image"><img class="rounded-circle img-fluid"-->
<!--                                                 src="{% static "assets/img/about/4.jpg" %}" alt="..."/></div>-->
<!--                <div class="timeline-panel">-->
<!--                    <div class="timeline-heading">-->
<!--                        <h4>2025</h4>-->
<!--                        <h4 class="subheading">Impact Assessment</h4>-->
<!--                    </div>-->
<!--                    <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing-->
<!--                        elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae-->
<!--                        sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>-->
<!--                </div>-->
<!--            </li>-->
<!--            <li class="timeline-inverted">-->
<!--                <div class="timeline-image">-->
<!--                    <h4>-->
<!--                        Start-->
<!--                        <br/>-->
<!--                        Using-->
<!--                        <br/>-->
<!--                        S-CAP!-->
<!--                    </h4>-->
<!--                </div>-->
<!--            </li>-->
<!--        </ul>-->
    </div>
    </div>

</section>
<!-- Team-->
<section class="page-section bg-light" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Meet The Team</h2>
            <h3 class="section-subheading text-muted">S-CAP is an effort that involves over a dozen scientists and
                software developers, these are the leading team members in this effort.</h3>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="{% static "assets/img/team/CHERRINGTON_Emil.png" %}"
                         alt="..."/>
                    <h4>Emil Cherrington</h4>
                    <p class="text-muted">Theme Lead - Ecosystem & Carbon Management</p>
                    <a class="btn btn-dark btn-social mx-2" href="https://twitter.com/BzGEO" aria-label="Emil Cherrington Twitter Profile"><i
                            class="fab fa-twitter"></i></a>

                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="{% static "assets/img/team/EVANS_Christine.jpg" %}"
                         alt="..."/>
                    <h4>Christine Evans</h4>
                    <p class="text-muted">Science Associate - Ecosystem & Carbon Management</p>
                    <a class="btn btn-dark btn-social mx-2" href="https://twitter.com/christineaevans" aria-label="Christine Evans Twitter Profile"><i
                            class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/christineaevans" aria-label="Christine Evans LinkedIn Profile"><i
                            class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="{% static "assets/img/team/TONDAPU_Githika.jpg" %}"
                         alt="..."/>
                    <h4>Githika Tondapu</h4>
                    <p class="text-muted">Software Engineer</p>
                    <a class="btn btn-dark btn-social mx-2" href="https://twitter.com/githikat" aria-label="Githika Tondapu Twitter Profile"><i
                            class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/githika-tondapu-6a378247" aria-label="Githika Tondapu LinkedIn Profile"><i
                            class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="{% static "assets/img/team/GOBERNA_Alex.jpg" %}"
                         alt="..."/>
                    <h4>Alex Goberna</h4>
                    <p class="text-muted">Software Engineer</p>

                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Alex Goberna Profile"><i
                            class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Clients-->
<div class="py-5">
    <div class="logo-container">
        <div>
            <a href="https://www.usaid.gov/"><img class="logo-img" src="{% static "assets/img/logos/USAID_padded.png" %}" alt="USAID"
                              aria-label="USAID Logo"/></a>
        </div>
        <div>
            <a href="https://www.nasa.gov/"><img class="logo-img" src="{% static "assets/img/logos/NASA_padded.png" %}" alt="NASA"
                              aria-label="NASA Logo"/></a>
        </div>
        <div>
            <a href="https://servirglobal.net/"><img class="logo-img" src="{% static "assets/img/logos/SERVIR_padded.png" %}" alt="..."
                              aria-label="SERVIR Logo"/></a>
        </div>
    </div>
</div>
<!-- Contact-->
<section class="page-section" id="contact">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Contact Us</h2>
            <h3 class="section-subheading text-muted">Let us know what you think.</h3>
        </div>
        <!-- * * * * * * * * * * * * * * *-->
        <!-- * * SB Forms Contact Form * *-->
        <!-- * * * * * * * * * * * * * * *-->
        <!-- This form is pre-integrated with SB Forms.-->
        <!-- To make this form functional, sign up at-->
        <!-- https://startbootstrap.com/solution/contact-forms-->
        <!-- to get an API token!-->
        <form id="contactForm" action="javascript:;" onsubmit=" sendMessageToScap( this ) ">
            <div class="row align-items-stretch mb-5">
                <div class="col-md-6">
                    <div class="form-group">
                        <!-- Name input-->
                        <input class="form-control" id="name" type="text" placeholder="Your Name *"
                               data-sb-validations="required"/>
                        <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                    </div>
                    <div class="form-group">
                        <!-- Email address input-->
                        <input class="form-control" id="email" type="email" placeholder="Your Email *"
                               data-sb-validations="required,email"/>
                        <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                        <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                    </div>
                    <div class="form-group">
                        <!-- Organizational affiliation input-->
                        <input class="form-control" id="organization" type="text" placeholder="Your Organization *"
                               data-sb-validations="required"/>
                        <div class="invalid-feedback" data-sb-feedback="organization:required">Your organization is
                            required.
                        </div>
                    </div>
                    <div class="form-group">
                        <!-- Phone number input-->
                        <input class="form-control" id="role" type="text" placeholder="Your Role *"
                               data-sb-validations="required"/>
                        <div class="invalid-feedback" data-sb-feedback="role:required">Your role is required.</div>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group form-group-textarea mb-md-0">
                        <!-- Message input-->
                        <textarea class="form-control" id="message" placeholder="Your Message *"
                                  data-sb-validations="required"></textarea>
                        <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                    </div>
                </div>
            </div>
            <!-- Submit success message-->
            <!---->
            <!-- This is what your users will see when the form-->
            <!-- has successfully submitted-->
            <div class="d-none" id="submitSuccessMessage">
                <div class="text-center text-success mb-3">
                    <div class="fw-bolder">Message Sent!</div>
<!--                    To activate this form, sign up at-->
<!--                    <br/>-->
<!--                    <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>-->
                </div>
            </div>
<div class="d-none" id="submitErrorMessage">
                <div class="text-center text-danger mb-3">
                    <div class="fw-bolder">Error sending message, please check the fields!</div>
<!--                    To activate this form, sign up at-->
<!--                    <br/>-->
<!--                    <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>-->
                </div>
            </div>
            <!-- Submit Button-->
            <div class="text-center">
                <button class="btn btn-primary btn-xl text-uppercase" id="submitButton" type="submit">Send
                    Message
                </button>
            </div>
        </form>
    </div>
</section>
<!-- Footer-->
<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-start">Copyright &copy; SERVIR 2023</div>
            <div class="col-lg-4 my-3 my-lg-0">
                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i
                        class="fab fa-twitter"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i
                        class="fab fa-facebook-f"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i
                        class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="col-lg-4 text-lg-end">
                <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
            </div>
        </div>
    </div>
</footer>

<!-- LandCover modal popup-->
<div class="pilotcountry-modal modal fade" id="LandCoverModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="{% static "assets/img/close-icon.svg" %}"
                                                                  alt="Close modal"/></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Land Use/Land Cover</h2>
                            <img class="img-fluid d-block mx-auto"
                                 src="{% static "assets/img/about/forestloss-pexels-photo-2874751.jpg" %}"
                                 alt="Forest Loss"/>

                            <div>
                                <p class="h4">Global</p>
                                <ul class="list-inline">
                                    <li><strong>CCI:</strong>

                                       ESA's Climate Change initiative (CCI) land cover product is based on SAR imagery at 300m resolution and covers 2000-2020. Classes were reclassified to forest/nonforest.
                                    </li>
                                        <li><strong>ESRI:</strong>

ESRI's 10m Sentinel-based land use and land cover map covering 2017-2021. The original 10-class product was reclassed to forest/nonforest.
                                        </li>

                                        <li><strong>JAXA:</strong>

JAXA's 25m PALSAR-based forest map covering 2007-2020. The original 3-class product (2007-2017) and 4-class product (2017-2020) was reclassed to only forest/nonforest by masking out water. Gaps in the data are due to ALOS issues.                                     </li>

                                   <li><strong>MODIS:</strong>

MODIS MCD12Q1 500m land cover generated through combined imagery from Terra and Aqua satellites covers 2001-2020. The 17 classes of LC_Type1 was reclassfied to forest/non forest.
                                   </li>
                                   <li><strong>WorldCover:</strong>

ESA Worldcover's 10m Sentinel-1 & Sentinel-2 based product provides global coverage for 2020 and 2021. The treecover classification was labeled as forest with all others as nonforest

                                </li>
                                     <li><strong>GFW:</strong>
 Hansen's Global Forest Change dataset, generated using a time-series of Landsat imagery at 30m, was processed in Google Earth Engine to estimate annual tree cover from 2001-2020.
                                </li>
                                </ul>

                                <p class="h4">Regional</p>
                                <ul class="list-inline">
                                    <li><strong>MAGA:</strong> Guatemala’s “Determination of Vegetated Cover and Land Use at scale 1:50,000 for the Republic of Guatemala” for year 2020 was created based on imagery from Sentinel-1A from 2020 </li>
                                       <li><strong>MapBiomass:</strong> Collection-4 land cover maps for the Amazon Basin covering 2000-2021 at 30m Landsat resolution and reclassified to forest/nonforest
                                       </li>
                                       <li><strong>NLCMS:</strong> Nepal's National Land Cover Monitoring System, developed with support from SERVIR-HKH provides annual coverage of 2000-2019 at 30m resolution.
                                       </li>
                                       <li><strong>RCMRD:</strong> The Regional Centre for Mapping of Resources for Development (RCMRD) generated land use and land cover maps at the regional scale for Eastern and Southern Africa. These 30m resolution maps cover 2000-2017 and are reclassified to forest/nonforest.
                                       </li>
                                    <li><strong>RLCMS_HKH:</strong> The Regional Land Cover Monitoring System (RLCMS) for the Hindu Kush Himalaya (HKH) region provides annual land cover maps from 2000-2021 and are reclassified to forest/nonforest	The Regional Land Cover Monitoring System (RLCMS) for the Hindu Kush Himalaya (HKH) region provides annual land cover maps from 2000-2021 and are reclassified to forest/nonforest
                                    </li>
                                       <li><strong>RLCMS_SEA:</strong> The Regional Land Cover Monitoring System (RLCMS) for the Southeast Asia (SEA) region provides annual land cover maps from 2000-2018 and are reclassified to forest/nonforest
                                    </li>
                                     <li><strong>USGS:</strong> A joint initiative with the US Geological Survey produced 3 land use land cover maps (1975, 2000, 2013) over West Africa at a 2-km resolution. This classification was reclassed to forest/nonforest.
                                    </li>

                                </ul>
<!--                                <p class="h4">Algorithm</p>-->
<!--                                <ul class="list-inline">-->
<!--                                    <li><strong>CCDC-SMA</strong>: 30m spatial resolution, Date range: 2000-2020<br>-->
<!--                                        Citation:Chen, S., Woodcock, CE., Bullock E., Arevalo, P., Torchinava, P., Peng,-->
<!--                                        S. and Olofsson P. (2021). Monitoring Temperate Forest Degradation on Google-->
<!--                                        Earth Engine Using Landsat Time Series Analysis. Remote Sensing of Environment.&nbsp;-->
<!--                                    </li>-->
<!--                                    <li><strong>Landtrendr</strong>: 100m spatial resolution, Date range: 1986-2020<br>-->
<!--                                        Citation: Kennedy, R.E., Yang, Z., Gorelick, N., Braaten, J., Cavalcante, L.,-->
<!--                                        Cohen, W.B., Healey, S. (2018). Implementation of the LandTrendr Algorithm on-->
<!--                                        Google Earth Engine. Remote Sensing. 10, 691.-->
<!--                                    </li>-->
<!--                                </ul>-->
                            </div>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- AGB modal popup-->
<div class="pilotcountry-modal modal fade" id="AGBModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="{% static "assets/img/close-icon.svg" %}"
                                                                  alt="Close modal"/></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Above Ground Biomass</h2>
                            <img class="img-fluid d-block mx-auto"
                                 src="{% static "assets/img/about/logs-free-photo-of-portret-van-omgehakte-bomen.jpg" %}"
                                 alt="Logging"/>
                            <div>
                                <p class="h4">Global</p>
                                <ul class="list-inline">
                                    <li><strong>Baccini_2:</strong> Single year global coverage of aboveground biomass (2003). Original Spatial Resolution: 300m and resampled to 1ha. Dataset includes non-forest land coverage.
                                    </li>
                                    <li><strong>CCI_Biomass:</strong>
 Multi-year year global coverage of aboveground biomass (2010/2017/2018/2019/2020). Original Spatial Resolution: 100 and resampled to 1ha. Dataset includes non-forest land coverage.
                                    </li>
                                    <li><strong>Geocarbon:</strong>
 Single year global coverage of aboveground biomass (2003). Original Spatial Resolution: 1km and resampled to 1ha. Dataset excludes non-forest land coverage.
                                    </li>
                                    <li><strong>Globiomass:</strong>
 Single year global coverage of aboveground biomass (2010). Original Spatial Resolution: 1km and resampled to 1ha. Dataset includes non-forest land coverage.
                                    </li>
                                    <li><strong>Hu:</strong>
 Single year global coverage of aboveground biomass (2004). Original Spatial Resolution: 1km and resampled to 1ha. Dataset excludes non-forest land coverage.
                                    </li>
                                    <li><strong>Kindermann:</strong>
 Single year global coverage of aboveground biomass (2005). Original Spatial Resolution: 50km and resampled to 1ha. Dataset excludes non-forest land coverage.
                                    </li>
                                    <li><strong>Liu:</strong>
 Multi-year global coverage of aboveground biomass (2000-2012). Original Spatial Resolution: 25km and resampled to 1ha. Dataset includes non-forest land coverage.
                                    </li>
                                    <li><strong>Ruesch_Gibbs:</strong>
 Single year global coverage of aboveground biomass (2000). Original Spatial Resolution: 1km and resampled to 1ha. Dataset includes non-forest land coverage.
                                    </li>
                                       <li><strong>Spawn:</strong>
 Single year global coverage of aboveground biomass (2010). Original Spatial Resolution: 300m and resampled to 1ha. Dataset includes non-forest land coverage.
                                    </li>
                                       <li><strong>Xu:</strong>
 Single year global coverage of aboveground biomass (2000/2010/2019). Original Spatial Resolution: 10km and resampled to 1ha. Dataset includes non-forest land coverage.
                                    </li>
                                       <li><strong>Yang:</strong>
 Single year global coverage of aboveground biomass (2003). Original Spatial Resolution: 1km and resampled to 1ha. Dataset excludes non-forest land coverage.
                                    </li>
                                      <li><strong>Zhang_Liang:</strong>
 Single year global coverage of aboveground biomass (2003). Original Spatial Resolution: 1km and resampled to 1ha. Dataset includes non-forest land coverage.
                                    </li>
                                </ul>
                                <p class="h4">Tropics</p>
                                <ul class="list-inline">
                                    <li><strong>Avitable:</strong>
 Single year tropical coverage of aboveground biomass (2000). Original Spatial Resolution: 1km and resampled to 1ha. Dataset includes non-forest land coverage.
                                    </li>
                                     <li><strong>Baccini_1:</strong>
 Single year tropical coverage of aboveground biomass (2008). Original Spatial Resolution: 500m and resampled to 1ha. Dataset includes non-forest land coverage.
                                    </li>
                                     <li><strong>Gedi:</strong>
 Single year tropical coverage of aboveground biomass (2020). Original Spatial Resolution: 1km and resampled to 1ha. Dataset includes non-forest land coverage.
                                    </li>
                                     <li><strong>Saatchi:</strong>
 Single year tropical coverage of aboveground biomass (2000). Original Spatial Resolution: 1km and resampled to 1ha. Dataset includes non-forest land coverage.
                                    </li>
                                </ul>
                            </div>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- AOI modal popup-->
<div class="pilotcountry-modal modal fade" id="AOIModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="{% static "assets/img/close-icon.svg" %}"
                                                                  alt="Close modal"/></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">Area of Interest</h2>
                            <img class="img-fluid d-block mx-auto"
                                 src="{% static "assets/img/about/aoi-marjan-blan-6bXvYyAYVrE-unsplash.jpg" %}"
                                 alt="..."/>

                            <div>
                                <p class="h4">Select predefined AOI</p>
                                <ul class="list-inline">
                                    <li><strong>Administrative Level</strong>: Select your Area of Interest by Country,
                                        or by Level 1/Level 2 administrative units (Boundaries are not authoritative,
                                        source: Large Scale International Boundary (LSIB) dataset by the United States Office of the Geographer <a target="_blank" href='https://geonode.state.gov/layers/catalog:geonode:LSIB'>link to the source</a>)
                                    </li>
                                    <li><strong>Protected Area</strong>: Select protected areas from the World Database on Protected Areas (WDPA) <a target="_blank" href='https://www.protectedplanet.net/en/thematic-areas/wdpa?tab=WDPA'>link to the source</a>
                                    </li>
                                </ul>
                                <p class="h4">Upload your AOI</p>
                                <ul class="list-inline">
                                    <li><strong>Requisites</strong>: Upload a GeoJSON file in latitude/longitude
                                        coordinates or a zipped shape file including a projection system file (.prj)
                                    </li>
                                </ul>
                            </div>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="{% static "js/scripts.js" %}"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!--<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>-->
</body>
</html>
